<div class="wrapper">
	<div class="sidebar" data-color="azure" data-background-color="black"
		data-image="img/sidebar-5.jpg" data-th-fragment="sidebar">
		<!-- Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
                 Tip 2: you can also add an image using data-image tag -->
		<div class="logo">
			<a href="https://bbw.ch" class="simple-text logo-normal">          @AXA</a>
		</div>
		<div class="sidebar-wrapper">

			<ul class="nav">
				<li class="nav-item active  "><a class="nav-link"
					href="/dashboard"> <i class="material-icons">dashboard</i>
						<p>Dashboard</p>
				</a></li>
				<!-- your sidebar here -->
				<li class="nav-item active  "><a class="nav-link"
					href="/simple"> <i class="material-icons">account_circle</i>
						<p>Customers</p>
				</a></li>
				<li class="nav-item active  "><a class="nav-link"
					href="/customers"> <i class="material-icons">assignment_ind</i>
						<p>Customers & Projects</p>
				</a></li>
				<li class="nav-item active  "><a class="nav-link"
					href="/projects"> <i class="material-icons">shutter_speed</i>
						<p>Projects</p>
				</a></li>

			</ul>
		</div>
	</div>
</div>