<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Real-time shopping cart with Pusher, Java, and React</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

</head>
<body>
	<div class="container">
		<div class="row">
			<span class="border-right"></span>
			<h3 class="border-right h3">Spring MVC ShoppingCart-backend REST
				Services running</h3>
			<h4 class="h4">ShoppingCart-API</h4>
			<h4 class="h4">
				<a href="/products">/products</a>
			</h4>
			<h4 class="h4">
				<a href="/cart/items">/cart/items</a>
			</h4>
		</div>
	</div>
</body>
</html>
